/* navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative;
    z-index: 10;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;

    img{
        height: 50px;
    }
  }
  
  .menu-button {
    font-size: 24px;
    cursor: pointer;
    z-index: 20; /* Ensure it is on top of other elements */
  } 

  .padding-menu-button{
    font-size: 24px;
    cursor: pointer;
    z-index: 20; /* Ensure it is on top of other elements */
    padding-right: 20px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Grey background */
    color: white;
    z-index: 15; /* Ensure it is below the menu-button */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto; /* Enable scrolling if needed */
  }
  
  .flexnav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Full width */
    overflow-y: auto; /* Enable scrolling if needed */
  }
  
  .menu-item {
    padding: 0;
    height: auto;
  }
  
  .sub-menu {
    display: none;
    padding-left: 0;

    li{
        a{
        
        }
    }
  }
  
  .sub-menu.open {
    align-items: center;
    width: 100%;
    min-width: max-content;
    display: inline-flex;
    flex-direction: column;
  }
  
  .menu-text {
    font-family: 'Six Caps', sans-serif;
    text-transform: lowercase;
    font-size: calc(1rem + 13vw);
    line-height: calc(1rem + 12.5vw);
    color: gray;
    display: block;
    padding: 0;
  }
  
  .sub-menu .menu-text {
    font-family: sans-serif;
    padding: 3px 0;
font-weight: 500;
text-transform: none;
font-size: 16px;
line-height: 26px;
border-top: none;
  }
  
  .menu-text:hover,
  .menu-text.active {
    color: white;
  }
  