/* App.css */
.App {
  font-family: sans-serif;
  text-align: center;
}

.image-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
